# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env
venv/
.env

# Django
*.log
media/
staticfiles/
db.sqlite3

# Flashcards
notes.md

# Static files
staticfiles/

# Environment variables
.env
